@views.html.header("Appraisal")()
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h1 class="text-center">Appraisal</h1>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col">
            <h5 class="text-center">Upload a piece of art for appraisal.</h5>
        </div>
    </div>
    <form method="post" action="@routes.GalleryController.appraisalHandler()" enctype="multipart/form-data">
    <div class="row mb-5">
        <div class="col-2 field-title">
            <h4>Image:</h4>
        </div>
        <div class="col-8">
            <div class="input-group">
                <input id="file-input" type="file" accept="image/*" class="form-control" aria-label="Upload" aria-describedby="addon-wrapping">
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-2">
            <h4>Title:</h4>
        </div>
        <div class="col-8">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Title" aria-describedby="addon-wrapping">
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-2">
            <h4>Artist:</h4>
        </div>
        <div class="col-8">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Artist" aria-describedby="addon-wrapping">
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-2">
            <h4>Description:</h4>
        </div>
        <div class="col-8">
            <div class="input-group">
                <textarea rows="5" class="form-control" aria-label="Description" aria-describedby="addon-wrapping"></textarea>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-2">
            <h4><label for="inputGroupSelect01">Category:</label></h4>
        </div>
        <div class="col-8">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Please select a category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-8 offset-2">
            <div class="input-group artpiece-type-container">
                <div>
                    <input id="artpiece-type-original" name="artpiece-type" type="radio" aria-label="Original">
                    <p> <label for="artpiece-type-original">Original</label></p>
                </div>
                <div>
                    <input id="artpiece-type-print" name="artpiece-type" type="radio" aria-label="Print">
                    <p><label for="artpiece-type-print">Print </label></p>

                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-1 offset-9">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </div>
    </form>
</div>