@(form: Form[ForgotPassword])(implicit messages:Messages, request: Request[AnyContent])
@main("Forgot Password") {
<div class="container">
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h3 class="text-center mb-5">@messages("forgot_password.title")</h3>
            @helper.form(routes.LoginController.forgotPasswordHandler()){
            <div class="input-group">
                @helper.inputText(form("email"), '_label -> "", '_showConstraints -> false,
                'class -> "form-control")
            </div>
            <button type="submit" class="btn btn-primary">@messages("forgot_password.submit")</button>
            }
        </div>
    </div>
</div>

}