@(form: Form[ForgotPassword], seriousErrorOccured: Boolean = false)(implicit messages: Messages, request: Request[AnyContent])
    @main("Forgot Password") {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/forms.css")">
    </head>
    <body>
        <div class="container">
            <div class="row mt-5">
                <div class="col-8 offset-2">
                    <div class="card card-signin my-5">
                        <div class="card-body w-75">
                            <h3 class="card-title text-center">@messages("forgot_password.title")</h3>
                            @if(seriousErrorOccured){
                                <p class="text-danger">@messages("forgot_password.serious_error")</p>
                            }
                            <div class="form-signin">
                            @helper.form(routes.LoginController.forgotPasswordHandler()){
                            <div class="form-label-group">
                                @helper.inputText(form("email"), '_label -> "", '_showConstraints -> false,
                                'class -> "form-control")
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary text-uppercase btn-block w-50 mx-auto">@messages("forgot_password.submit")</button>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    }