@(user: String)(implicit messages: Messages, request: Request[AnyContent])

@validUser = @{
    user.length > 2
}

<nav class="navbar sticky-top navbar-light bg-light justify-content-md-center navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="@routes.Assets.at("images/QArt_logo.png")" width="100" height="50" class="d-inline-block align-center" alt="QArt Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto text-md-center text-left">
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">@messages("header.gallery")</a>
                </li>
                <li class="nav-item">
                @if(validUser) {
                    <a class="nav-link" href= "@routes.GalleryController.appraisal">@messages("header.appraisals")</a>
                } else {
                    <a class="nav-link" href= "@routes.LoginController.login">@messages("header.appraisals")</a>
                }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">@messages("header.contact")</a>
                </li>
                    <!-- TO BE SHOWN IF LOGGED IN -->
                @if(validUser) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Profile </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                            <a class="dropdown-item" href="/account">@messages("header.myAccount")</a>
                            <a class="dropdown-item" href="/logout">@messages("header.logOut")</a>
                        </div>
                    </li>
                } else {
                        <!-- TO BE SHOWN IF NOT LOGGED IN -->
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/login">@messages("header.login")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/sign-up">@messages("header.register")</a>
                    </li></ul>
                }
            <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                    <li class="nav-item">
                <a role="button" aria-disabled="true" class="btn btn-light" href="@routes.LanguageController.switchToLanguage(request.uri, "en")"/>
                        English </a> </li>
                    <li class="nav-item">
                <a role="button" aria-disabled="true" class="btn btn-light" href="@routes.LanguageController.switchToLanguage(request.uri, "cy")">
                    Welsh </a>
                    </li>
                </ul>
        </div>
    </div>
</nav>

