@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
</html>

<div class="container">
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ01pFfa4C1YMrTJnYXcc3SXM6n-pCLvm6H_4z2PAEnWex13CF3" width="30" height="30" class="d-inline-block align-top" alt="">
        Fine Art
        </a>
    </nav>
</div>