@(title: String)(loggedIn:Boolean = false)

<!-- TODO use correct authentication ^^^^^^^^^ -->

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
</html>

<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQO6fd0t6GrK8zHWbJyD1n1HrOP02T3GeDr2tXnA3sqoEOlykV6" width="50" height="50" class="d-inline-block align-center" alt="IMAGE PLACEHOLDER">
            Fine Art
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    @if(loggedIn==true) {
                        <a class="nav-link" href= "/appraisal">Appraisal</a>
                    } else {
                        <a class="nav-link" href= "/login">Appraisal</a>
                    }
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
<!-- TO BE SHOWN IF LOGGED IN -->
                @if(loggedIn==true) {
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/login">Log Out</a>
                    </li>
                } else {
                        <!-- TO BE SHOWN IF NOT LOGGED IN -->
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="/register">Register</a>
                    </li>
                }

            </ul>
        </div>

    </nav>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>