@import helpers.Constants
@import models.Interests.{ArtType, ArtGenre, ArtMovement}
@()(implicit messages: Messages, request: Request[AnyContent])

<div id="Interests" class="container">
    <h1>Your Interests</h1>
    <form action="/interestsSubmit" method="post">
        <div class="row">
            <fieldset class="col-6 col-sm"><legend>Art Types</legend>
                <input type='hidden' name='artType' value='None'>
                @for(artType <- ArtType.values) {
                    <input type="checkbox" name="artType" value=@artType.toString> @artType.toString</input>
                    <br>
                    }
                </fieldset>
            <fieldset class="col-6 col-sm"><legend>Art Genres</legend>
                <input type='hidden' name='artGenre' value='None'>
                @for(artGenre <- ArtGenre.values) {
                    <input type="checkbox" name="artGenre" value=@artGenre.toString> @artGenre.toString</input>
                    <br>
                    }
            </fieldset>
            <fieldset class="col-auto"><legend>Art Movements</legend>
                <input type='hidden' name='artMovement' value='None'>
                @for(artMovement <- ArtMovement.values) {
                    <input type="checkbox" name="artMovement" value=@artMovement.toString> @artMovement.toString</input>
                    <br>
                    }
            </fieldset>
        </div>
        <button type="submit" style="width: 100%">Submit</button>
    </form>
</div>

