@(form: Form[LoginDetails])(implicit messages: Messages, request: Request[AnyContent], flash: Flash)

@main("Login") {

    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col">
                <h3 class="text-center">Please log in</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                @helper.form(routes.LoginController.loginSubmit()){
                    @flash.get("failed").getOrElse("")
                    <div class="input-group">
                        @helper.inputText(form("username"), '_label -> "Username", '_showConstraints -> false,
                                          'class -> "form-control")
                    </div>
                    @helper.inputPassword(form("password"), '_label -> "Password", '_showConstraints -> false)
                    <button type="submit">Log In</button>
                            <a href="/sign-up"><button type="button">Sign Up</button></a>
                }
            </div>
        </div>
    </div>

}