@(form: Form[LoginDetails])(implicit messages: Messages, request: Request[AnyContent],flash: Flash, lang: Lang)

@main("Login") {

    <div>
        <h3>Please log in</h3>
        @helper.form(routes.LoginController.loginSubmit()){
        @flash.get("failed").getOrElse("")
        @helper.inputText(form("username"), '_label -> "Username", '_showConstraints -> false)
        @helper.inputPassword(form("password"), '_label -> "Password", '_showConstraints -> false)
        <button type="submit">Log In</button>
        <a href="/sign-up"><button type="button">Sign Up</button></a>
        }
    </div>

}