@()(implicit messages: Messages, request: Request[AnyContent], flash: Flash)
@main("Success") {
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12 text-center">
                <i class="fas fa-check-circle large-icon"></i>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="text-center">Password successfully reset</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <p class="text-center"><a href="@routes.LoginController.login()">Back to Login</a></p>
            </div>
        </div>
    </div>
}