@(id: String, _form: Form[ResetPassword])(implicit messages: Messages, request: Request[AnyContent], flash: Flash)
@import helper._
@main("Reset Password") {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/forms.css")">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="card card-signin my-5">
                        <div class="card-body w-75">
                            <h4 class="card-title text-center">@messages("reset_password.title")</h4>
                            <div class="form-signin">
                            @form(routes.LoginController.resetPasswordHandler(id)){
                            <div class="form-label-group">
                                @inputPassword(_form("newPassword"), 'class -> "form-control", '_showConstraints -> false,
                                '_label -> messages("reset_password.new_password"))
                            </div>
                            <div class="form-label-group">
                                @inputPassword(_form("confirmPassword"), 'class -> "form-control", '_showConstraints -> false,
                                '_label -> messages("reset_password.confirm_password"))
                            </div>
                            <button type="submit" class="btn btn-lg btn-primary text-uppercase btn-block w-50 mx-auto">@messages("reset_password.submit")</button>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}