@(id: String, _form: Form[ResetPassword])(implicit messages: Messages, request: Request[AnyContent], flash: Flash)
@import helper._
@main("Reset Password") {
    <div class="container">
        <div class="row mt-5 mb-5 text-center">
            <div class="col-12">
                <h4>Reset your password</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">
                @form(routes.LoginController.resetPasswordHandler(id)){
                <div class="input-group">
                    @inputPassword(_form("newPassword"), 'class -> "form-control", '_showConstraints -> false,
                    '_label -> messages("reset_password.new_password"))
                </div>
                <div class="input-group">
                    @inputPassword(_form("confirmPassword"), 'class -> "form-control", '_showConstraints -> false,
                    '_label -> messages("reset_password.confirm_password"))
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
        </div>
    </div>
}