@()(implicit messages: Messages, request: Request[AnyContent])
@main("Terms Of Use") {
    <head>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/termsOfUse.css")">
    </head>

    <div class="termsTextContainer">
        <h2 class='termsHeader'>@messages("footer.termsOfUse")</h2>

        <p class="firstPara" >
        @messages("termsOfUse.firstParagraph")
        </p>

        <p class="secondPara">
        @messages("termsOfUse.secondParagraph")
        </p>

        <ul class="bulletList">
            <li>@messages("termsOfUse.bulletOne")</li>
            <li>@messages("termsOfUse.bulletTwo")</li>
            <li>@messages("termsOfUse.bulletThree")</li>
            <li>@messages("termsOfUse.bulletFour")</li>
            <li>@messages("termsOfUse.bulletFive")</li>
            <li>@messages("termsOfUse.bulletSix")</li>
            <li>@messages("termsOfUse.bulletSeven")</li>
            <li>@messages("termsOfUse.bulletEight")</li>
            <li>@messages("termsOfUse.bulletNine")</li>
        </ul>
    </div>

}